<div layout="column" layout-padding ng-cloak>
    <br/>
    <md-content class="md-no-momentum">
        <h3> Edit </h3>
        <md-input-container class="md-icon-float md-block">
            <!-- Use floating label instead of placeholder -->
            <label>What is to be done?</label>
            <input ng-model="edata.what" type="text">
        </md-input-container>

        <div layout="row">
            <div flex-gt-xs>
                <h4>When is it due?</h4>
                <md-datepicker ng-model="edata.due" md-placeholder="Enter Due Date"></md-datepicker>
            </div>
        </div>
        <md-input-container ng-if="(edata.what && edata.what.length>0) || (edata.due )">
            <md-button class="md-primary md-raised" ng-click="save()"> Save </md-button>
        </md-input-container>

    </md-content>

</div>