<div layout="column" layout-padding ng-cloak>
    <h2> Login to use the Cool Tasks App </h2>
  <br/>
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Type username here</label>
      <input ng-model="username" type="text">
    </md-input-container>

    <md-input-container ng-if="(username && username.length>0)">
      <md-button class="md-primary md-raised" ng-click="login()" >Login </md-button>
    </md-input-container>

  </md-content>

</div>